doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/form.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header 
      nav   
        ul  
          li 
            a(href="/tvs") TVs
          li
            a(href="/computers") Computers
          li
            a(href="/cellphones") Cellphones
    main
      h1= title 
      block content
